.banner {
  height: 500px;
  display: flex;
  align-items: center;
}

.banner h1 {
  color: white;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
}
.banner p {
  color: rgb(192, 192, 192);
  font-size: 20px;
  padding: 16px 0px;
}
